.header {
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/%D0%A0%D0%B0%D0%BD%D0%BA%D0%BE%D0%B2%D1%96_%D0%BF%D1%80%D0%BE%D1%86%D0%B5%D0%B4%D1%83%D1%80%D0%B8_%D1%83_%D0%BF%D0%B5%D0%BB%D1%96%D0%BA%D0%B0%D0%BD%D1%96%D0%B2.jpg/1024px-%D0%A0%D0%B0%D0%BD%D0%BA%D0%BE%D0%B2%D1%96_%D0%BF%D1%80%D0%BE%D1%86%D0%B5%D0%B4%D1%83%D1%80%D0%B8_%D1%83_%D0%BF%D0%B5%D0%BB%D1%96%D0%BA%D0%B0%D0%BD%D1%96%D0%B2.jpg);
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
}
.page--home .header {
	min-height: 50vh;
}

.page--home .page {
	margin-top: 50vh;
}

/**
* Content element styles
*/

/* clearfix incase paragraphs have images */
.content p:before,
.content p:after {
	content: ' ';
	display: table;
}
.content p:after {
	clear: both;
}

/* text styles */
.content blockquote {
	font-size: 2.4rem;
	color: #54595d;
	position: relative;
}
/* Fancy blockquote */
.content blockquote:before {
	content: '“';
	position: absolute;
	width: 100%;
	font-family: 'Georgia', serif;
	font-size: 12.8rem;
	line-height: 7.2rem;
	text-align: center;
	opacity: 0.3;
}
/* Image styles */
.content figcaption {
	padding: 1em;
	background-color: #eaecf0;
}
.content .image--rounded {
	border-radius: 50%;
}
.content .image--left {
	margin: 0.5em;
	float: left;
}
.content .image--right {
	margin: 0.5em;
	float: right;
}

/* component styles */
.color:hover{
	text-decoration: none;
}
.color__swatch {
	display: block;
	background-size: cover;
	color: #222;
}
.color__codes {
	display: block;
}
.color__swatch.color--dark {
	color: #fff;
}