<footer id="footer" class="footer">
	<div class="content-box">
		<ul class="footer__list">
			<li><a href="https://twitter.com/@Wikimedia" title="Follow the Wikimedia account on Twitter">Follow @Wikimedia</a></li>
			<li><a href="https://www.facebook.com/wikimediafoundation/" title="Join Wikimedia facebook page">Join our Facebook page</a></li>
		</ul>
		<p>Text is available under the <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative Commons Attribution-ShareAlike 4.0 International</a>, additional terms may apply. <br>Code is available under the MIT license.</p>
		<p><a href="https://wikimediafoundation.org/" class="lnk--wikimedia-project">A Wikimedia Foundation project</a></p>
	</div>
</footer>