---
title: 'Site Title'
---
<!DOCTYPE html>
<!--[if lte IE 8 ]><html lang="en" class="js-off lte-ie8"><![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="js-off ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="js-off">
<!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<link rel="stylesheet" href="/css/wmui-style-guide.css">
	<title>{% if page.url != '/index.html' %}| {{page.title}}{% endif %}</title>
	<script>
		document.documentElement.className = document.documentElement.className.replace(/\bjs-off\b/,'js-on'); // no BEM notation thx to IE
	</script>

	<!--[if lt IE 9]>
	<script>window.html5={'shivCSS':false};</script>
	<script src="/js/vendor/ie/html5shiv-3.7.3.min.js"></script>
	<script src="/js/vendor/ie/respond-1.4.2.min.js"></script>
	<![endif]-->
	<link rel="preload" href="/fonts/Charter_regular.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="/fonts/Lato_regular.woff2" as="font" type="font/woff2" crossorigin>
	<script src="/js/fonts-loader.js" async></script>
</head>
<body class="page--home">
	<header id="header" class="header" role="banner" style="min-height: 50vh;
	background-size: cover; background-position: top center;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/%D0%A0%D0%B0%D0%BD%D0%BA%D0%BE%D0%B2%D1%96_%D0%BF%D1%80%D0%BE%D1%86%D0%B5%D0%B4%D1%83%D1%80%D0%B8_%D1%83_%D0%BF%D0%B5%D0%BB%D1%96%D0%BA%D0%B0%D0%BD%D1%96%D0%B2.jpg/1024px-%D0%A0%D0%B0%D0%BD%D0%BA%D0%BE%D0%B2%D1%96_%D0%BF%D1%80%D0%BE%D1%86%D0%B5%D0%B4%D1%83%D1%80%D0%B8_%D1%83_%D0%BF%D0%B5%D0%BB%D1%96%D0%BA%D0%B0%D0%BD%D1%96%D0%B2.jpg);
	 background-repeat: no-repeat;">
		<div class="content-box">
			<a href="#content" class="is-aural is-focusable">Jump to content</a>
			<a href="#nav--main" class="is-aural is-focusable">Jump to navigation</a>
			<h1 class="site__title"><a href="./"><span class="site__logo"></span>{{site.title}}</a></h1>
			<label class="btn--nav-main" for="trigger--nav-main" aria-hidden="true" title="Show main menu">
				<i></i> <span>Menu</span>
			</label>
		</div>
	</header>
	<div class="page" style="margin-top: 50vh;">
		<div class="content-box">
			<div class="col col--start">
				<input type="checkbox" id="trigger--nav-main" class="trigger--nav-main">
				<nav id="nav--main" class="nav nav--main" role="navigation">
					{% include generateDynamicMenu.html root="/" listClass="nav__sub-items" listItemClass="nav__item" activeClass="is-on" %}
				</nav>
			</div>

			<div class="col col--end">
				<main id="content" class="content" role="main">
					{% assign sortedPosts = site.posts | sort: 'date' %}
					{% for post in sortedPosts %}
						{% for tag in post.tags %}
							{% if page.tags contains tag %}
								{% assign slashes = post.url | split: "/" %}
								{% for slash in slashes  %}
									{% assign firstChar = slash | slice: 0 %}
									{% if firstChar == '#' %} {% assign id = slash %} {% endif %}
								{% endfor %}
								<section id="{{id |replace_first: '#', ''}}">
									{{post.content | markdownify}}
								</section>
							{% endif %}
						{% endfor %}
					{% endfor %}
				</main>
			</div>
		</div>
	</div>
	<footer id="footer" class="footer">
		<div class="content-box">
			<ul class="footer__list">
				<li><a href="https://github.com/wikimedia/WikimediaUI-Style-Guide">Contribute on GitHub</a></li>
				<li><a href="https://twitter.com/@WikimediaUX" title="Follow Wikimedia User Experience team account on Twitter">Follow @WikimediaUX</a></li>
				<li><a href="https://lists.wikimedia.org/mailman/listinfo/design" title="Join Wikimedia Design mailing list">Join mailing list</a></li>
			</ul>
			<p>Text is available under the <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative Commons Attribution-ShareAlike 4.0 International</a>, additional terms may apply. <br>Code is available under the MIT license.</p>
			<p><a href="https://wikimediafoundation.org/" class="lnk--wikimedia-project">A Wikimedia Foundation project</a></p>
		</div>
	</footer>
</body>
</html>

