---
title: 'Site Title'
---
<!DOCTYPE html>
<!--[if lte IE 8 ]><html lang="en" class="js-off lte-ie8"><![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="js-off ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="js-off">
<!--<![endif]-->
{% include head.html %}
<body class="page--home">
	{% include header.html %}
	<div class="page">
		<div class="content-box">
			<div class="col col--start">
				<input type="checkbox" id="trigger--nav-main" class="trigger--nav-main">
				<nav id="nav--main" class="nav nav--main" role="navigation">
					{% include menu.html root="/" listClass="nav__sub-items" listItemClass="nav__item" activeClass="is-on" %}
				</nav>
			</div>

			<div class="col col--end">
				<main id="content" class="content" role="main">
					{% assign sortedPosts = site.pages | sort: 'menu_position' %}
					{% for post in sortedPosts %}
						{% for tag in post.tags %}
							{% if page.tags contains tag %}
								{% assign slashes = post.url | split: "/" %}
								{% for slash in slashes  %}
									{% assign firstChar = slash | slice: 0 %}
									{% if firstChar == '#' %} {% assign id = slash %} {% endif %}
								{% endfor %}
								<section id="{{id |replace_first: '#', ''}}">
									{{post.content | markdownify }}
								</section>
							{% endif %}
						{% endfor %}
					{% endfor %}
				</main>
			</div>
		</div>
	</div>
	{% include footer.html %}
</body>
</html>

